/*Common Styles*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
header, main {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
h3.section-subtitle {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}
h2.section-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}
/*Header Banner Styles*/
header {
    background-image: url('../images/Banner Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin-top: 50px;
}
.banner {
    padding: 175px 340px;
    color: #fff;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}
h3.banner-subtitle {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}
h2.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/*Discount Section styles*/
.discount {
    padding: 120px 0;
}
h2.discount-rate {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}
.discount-image {
    text-align: center;
}